alabaster
attrs
babel
beautifulsoup4
black
bleach
boto3
botocore
certifi
charset-normalizer
click
defusedxml
docutils
fastjsonschema
flake8
idna
imagesize
iniconfig
Jinja2
jmespath
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
jupyterlab_pygments
MarkupSafe
mccabe
mistune
mypy_extensions
nbclient
nbconvert
nbformat
numpy
packaging
pandas
pandocfilters
pathspec
pillow
platformdirs
pluggy
pycodestyle
pyflakes
Pygments
pytest
python-dateutil
pytokens
pytz
pyzmq
referencing
reliquery @ git+https://github.com/The-Dev-Effect/reliquery.git@d6567222527fa44854a3dd480b402cde835991d3
requests
roman-numerals
rpds-py
s3transfer
setuptools
six
snowballstemmer
soupsieve
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
tinycss2
tornado
traitlets
typing_extensions
tzdata
urllib3
webencodings
wheel
yt-dlp
